section {
    display: grid;
    justify-items: center;
    grid-column: span 2;
    grid-row: span 2;
  }
  
  section img {
    height: 80vh;
    border-radius: 20px;
    margin: 10px;
    margin-top: 40px;
    grid-column: 1;
    z-index: 1;

  }
  section h1 {
    color: #ffffff;
    text-shadow: 0 0 8px #2cd0f0, 0 0 2px #2cd0f0, 0 0 10px #2cd0f0,
      0 0 6px #2cd0f0, 0 0 20px #2cd0f0, 0 0 20px #2cd0f0, 0 0 1px #2cd0f0,
      0 0 12px #2cd0f0;
    margin-bottom: 10px;
  }
  section div p {
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 60px;
    margin-right: 60px;
    
  }
  input{
    height: 35px;
    margin: 15px 0px;
    border-radius: 20%;
  }
  .data{
    display: grid;
    text-align: center;
    margin: 0 20px;
    justify-items: center;
  }
  .description {
    width: 350px;
    height: 250px;
    margin-bottom: 20px;
    background-color: #ffffff31;
    border-radius: 20px;
    padding: 20px;
    align-items: center;
    text-align: center;
  }
  section div {
    color: #ffffff;
    display: grid;
  }
  .h1{
    margin: 5px;
    z-index: 5;
  }